/* Small devices (phones, 320px - 480px) */
@media only screen and (min-width: 200px) and (max-width: 340px)  {
    .game {
        width: 30vh;
        height: 30vh;
    }

    .box {
        height: 14vmin;
        width: 14vmin;
        font-size: 9vmin;
    }

    #msg {
        font-size: 10vmin;
    }

    #reset, #new-btn {
        padding: 0.75rem;
        font-size: 1rem;
    }
}
  
@media only screen and (min-width: 341px) and (max-width: 450px) {
    .game {
        width: 40vh;
        height: 40vh;
    }

    .box {
        height: 14vmin;
        width: 14vmin;
        font-size: 9vmin;
    }

    #msg {
        font-size: 10vmin;
    }

    #reset, #new-btn {
        padding: 0.75rem;
        font-size: 1rem;
    }
}